<section aria-label="Actions" class="bg-body-secondary p-4 mb-4">
  <h2 class="text-center">Actions</h2>
  <div class="row justify-content-center row-gap-4">

    <section class="col-xl col-lg-4 col-sm-6">
      <p class="disk bg-success-subtle">Familiarise yourself with the three-dimensional approach to sustainability (environmental, social, economic). See the quick resources above.</p>
    </section>

    <section class="col-xl col-lg-4 col-sm-6">
      <p class="disk bg-success-subtle">Consider how your research engages with each of the three dimensions of sustainability.</p>
    </section>

    <section class="col-xl col-lg-4 col-sm-6">
      <p class="disk bg-success-subtle">Consider how your expertise could deliver benefits, or avoid risks, in dimensions of sustainability you have not previously worked on.</p>
    </section>

    <section class="col-xl col-lg-4 col-sm-6">
      <p class="disk bg-success-subtle">Consider how ‘strongly’ your research currently operationalises sustainability.</p>
    </section>

    <section class="col-xl col-lg-4 col-sm-6">
      <p class="disk bg-success-subtle">Look at the examples of projects contributing to the SDGs below, to get inspiration.</p>
    </section>

  </div>
</section>
