<section class="hero" aria-label="Step 1 - Anticipate">
  <module
    href="./picture.html"
    locals='{
      "path": "/img/hero/researcher-in-cafe",
      "alt_text": "Researcher working in a cafe on a laptop"
    }'
  ></module>
  <div class="row">
    <div class="offset-lg-8 col-lg-4 offset-md-6 col-md-6">
      <div class="hero__content">
        <h2>Step 1 - Anticipate</h2>
        <p>Sustainability has three interconnected dimensions: the biosphere, society and economy. As a global society we need to ensure that we do not exceed the capacity of each of these and that we avoid extracting more than each dimension can sustain.</p>
        <footer>
          <hr>
          <p class="small">Laboratory researcher image by <a href="https://www.pexels.com/@marcus-aurelius/">Marcus Aurelius</a></p>
        </footer>
      </div>
    </div>
  </div>
</section>
