<section class="hero" aria-label="AREA Framework">
  <module
    href="./picture.html"
    locals='{
      "path": "/img/hero/petri-dish",
      "alt_text": "Researcher doing a sample test in a laboratory"
    }'
  ></module>
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="hero__content">
        <p>SBNZ’s step-by-step toolkit follows the structure of UK Research and Innovation(UKRI)/Engineering and Physical Sciences Research Council’s (EPSR) responsible innovation ‘<a href="https://www.ukri.org/who-we-are/epsrc/our-policies-and-standards/framework-for-responsible-innovation/">AREA</a>’ Framework and adapts it to focus on sustainability. Implementing AREA involves integrated approaches and collaboration between different expertise in fields such as STEMM, social sciences, arts and humanities, ethics or community engagement practitioners.</p>
        <footer>
          <hr>
          <p class="small">Laboratory researcher image by <a href="https://www.pexels.com/@cottonbro/">Edward Jenner</a></p>
        </footer>
      </div>
    </div>
  </div>
</section>
