<section aria-label="AREA" class="bg-body-secondary p-4">
  <h2 class="text-center">AREA</h2>
  <div class="row row-gap-4">

    <section class="col-md-6 col-xl-3">
      <div class="disk bg-info-subtle">
        <h3 class="h5 mb-0"><em>A</em>nticipate</h3>
        <p class="small">Describe and analyse the sustainability impacts, intended or otherwise, that might arise from your research outputs and outcomes. Support the exploration of possible impacts (such as economic, social and environmental) and implications that may otherwise remain uncovered and little discussed</p>
      </div>
    </section>

    <section class="col-md-6 col-xl-3">
      <div class="disk bg-info-subtle">
        <h3 class="h5 mb-0"><em>R</em>eflect</h3>
        <p class="small">Reflect on the purposes of, motivations for and potential implications of the research, together with the associated uncertainties, areas of ignorance, assumptions, framings, questions, dilemmas and social transformations these may bring.</p>
      </div>
    </section>

    <section class="col-md-6 col-xl-3">
      <div class="disk bg-info-subtle">
        <h3 class="h5 mb-0"><em>E</em>ngage</h3>
        <p class="small">Open up such visions, impacts and questioning to broader deliberation, dialogue, engagement and debate in an inclusive way.</p>
      </div>
    </section>

    <section class="col-md-6 col-xl-3">
      <div class="disk bg-info-subtle">
        <h3 class="h5 mb-0"><em>A</em>ct</h3>
        <p class="small">Use these processes to influence the direction and trajectory of the research and innovation process itself.</p>
      </div>
    </section>

  </div>
</section>
