<table class="table">
  <legend class="text-center">Degree of Sustainability in Research</legend>
  <thead>
    <tr>
      <th scope="col">Non-sustainable</th>
      <th scope="col">Weak Sustainable</th>
      <th scope="col">-&gt;</th>
      <th scope="col">Strong Sustainable</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <p>The project has other aims. Sustainability does not inform the questions or technology objectives.</p>
        <p>Technology or research may extracted or polluting, however as sustainability is not part of the project's focus, these sustainability impacts are unknown.</p>
        <p>Clean up, damage limitation or redistribution of negative impacts is not considered.</p>
      </td>
      <td>
        <p>Other research goals may be prioritised over sustainability.</p>
        <p>Technology, knowledge, or research practice engages with one dimension of sustainability (environmental, social, economic) or one SDG.</p>
        <p>Impacts of the project in other dimensions of sustainability remain unconsidered or unknown.</p>
      </td>
      <td>
        <p>The project aims to make clear contributions to two or more dimensions of sustainability.</p>
        <p>Research practice, or technology / knowledge created accepts some trade-offs between environmental, economic and social dimensions of sustainability, or different SDGs.</p>
        <p>However, the research acknowledges and documents these trade offs. It generates new knowledge or applies existing knowledge to minimise harms and maximise co-benefits.</p>
      </td>
      <td>
        <p>The project operationalises a multi-dimensional approach to sustainability encompassing environmental, social and economic dimensions, or several SDG.</p>
        <p>Research practice, technology or knowledge produced entails ambitious, transformative or empowering approaches to sustainability and/or long-term thinking.</p>
        <p>The project pursues productive synergies and generates new knowledge or applies existing knowledge to achieve these.</p>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">The most globally recognised sustainability framework the <a href="https://sdgs.un.org/goals">United Nations Sustainable Development Goals</a> integrates each of these three dimensions of sustainability equally and translates them into 17 practical targets, many of which combine environmental, economic and social sustainability. The SDGs can be a helpful framework to help you identify your contribution.</td>
    </tr>
  </tfoot>
</table>
