<header class="hero">
  <module
    href="./picture.html"
    locals='{
      "path": "/img/hero/researcher-tree",
      "alt_text": "An environmental researcher measures the trunk of a tree"
    }'
  ></module>
  <div class="row">
    <div class="offset-lg-8 col-lg-4 offset-md-6 col-md-6">
      <div class="hero__content">
        <h1>Introduction</h1>
        <p>Research will play a key role in helping us meet the challenges of climate change and the unpredictable economic, societal, and environmental shifts that will come with it. As a result, research funders are not only asking researchers to adopt <a href="https://wellcome.org/who-we-are/positions-and-statements/environmental-sustainability-concordat">sustainable research practice</a>. Funders are also encouraging researchers to use multiple different approaches on climate change and sustainability, inspired by diverse perspectives<sup>1</sup>.</p>
        <footer>
          <hr>
          <p class="small"><sup>1</sup> Where this toolkit is focused on the substance of research, there are other resources which help research institutions to adopt sustainable procurement and research practices in line with the <a href="https://wellcome.org/who-we-are/positions-and-statements/environmental-sustainability-concordat">Welcome Concordat for the Environmental Sustainability of Research and Innovation Practice</a></p>
        </footer>
      </div>
    </div>
  </div>
  <footer class="hero__footer">Image by <a href="https://www.pexels.com/@cottonbro/">cottonbro studio</a></footer>
</header>
