<div class="row mb-4 align-items-center">
  <div class="col-md-6">
    <figure>
      <blockquote class="blockquote">
        <p>Sustainability is meeting the social foundations of current and future generations while living responsibly within a healthy, natural environment</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        <cite title="Glasgow Centre for Sustainable Solutions"><a href="https://www.gla.ac.uk/research/az/sustainablesolutions/">Glasgow Centre for Sustainable Solutions</a></cite>
      </figcaption>
    </figure>
  </div>
  <div class="col-md-6">
    <figure>
      <module
        href="./picture.html"
        locals='{
          "path": "/img/card/economy-society-environment",
          "alt_text": "Three rings connected vertically with an arrow pointing in both directions. The first is labelled Economy. The second Society and the third Environment. They are in ascending order of size."
        }'
      ></module>
      <figcaption class="text-center">Three dimensions of sustainability</figcaption>
    </figure>
  </div>
</div>
