<section class="row" aria-label="Toolkit use">
  <div class="col-md-6">
    <h2>Using this toolkit will enable you to:</h2>
    <ol>
      <li>identify how your research could contribute to sustainability</li>
      <li>understand core concepts and approaches which are foundational to sustainability</li>
      <li>apply these core concept and approaches in the development of your research;</li>
      <li>describe your approach to sustainability and its added value to funders <ins>Where this toolkit is focused on the substance of research, there are other resources which help research institutions to adopt sustainable procurement and research practices in line with the Welcome Concordat for the <a href="https://wellcome.org/who-we-are/positions-and-statements/environmental-sustainability-concordat">Environmental Sustainability of Research and Innovation Practice</a></ins></li>
    </ol>
  </div>
  <div class="col-md-6">
    <h2>This toolkit:</h2>
    <h3>Helps researchers <em>new</em> to sustainability</h3>
    <p>to identify sustainability applications for their research</p>

    <h3>Helps <em>experienced</em> sustainability researchers</h3>
    <p>to identify fresh challenges and synergies in their research</p>

    <h3>Helps <em>all</em> researchers</h3>
    <p>clearly explain these contributions in ways that are relevant to funders’ priorities</p>
  </div>
</section>
