<section aria-label="Quick clips: understanding the three dimensions of sustainability">
  <h2 class="text-center">Quick clips: understanding the three dimensions of sustainability</h2>

  <div class="row mb-4">
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card w-100">
        <p class="card-img-top ratio ratio-16x9">
          <iframe class="card-img-top" width="636" height="358" src="https://www.youtube-nocookie.com/embed/zx04Kl8y4dE?si=w3Bbbw8wp25-iGQG" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>
      <div class="card-body">
        <p class="card-text"><a href="https://www.youtube.com/watch?v=zx04Kl8y4dE">What is Sustainability?</a> (UCLA 3 mins)</p>
      </div>
    </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="card w-100">
        <p class="card-img-top ratio ratio-16x9">
          <iframe class="card-img-top" width="636" height="358" src="https://www.youtube-nocookie.com/embed/KBgpdqncEHY?si=bIfd72p7WjWNrjKZ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>
        <div class="card-body">
          <p class="card-text"><a href="https://www.youtube.com/watch?v=KBgpdqncEHY">Sustainability Isn’t What You Think! Discover the 3 Pillars!</a> (Futureproof Engineering 2025, 10 mins)</p>
        </div>
      </div>
    </div>
  </div>

  <section class="justify-content-center mb-4 row" aria-label="Additional Resources">
    <div class="col-md-6">
      <h3 class="text-center">Additional Resources</h3>
      <p>The Glasgow Centre for Sustainable Solutions has multiple <a href="https://www.gla.ac.uk/research/az/sustainablesolutions/courses/">4-week MOOCs which can help you learn more about sustainability</a>.</p>
    </div>
  </section>

  <div class="justify-content-center mb-4 row">
    <p class="col-md-6">It’s also helpful to realise that you can contribute to sustainability, even if it is not the core focus of your research. Some researchers operationalise a multi-dimensional approach (‘strong sustainability’) whilst others may only engage with one dimension (‘weak sustainability’).</p>
  </div>

</section>
