<!doctype html>
<html class="no-js" lang="en-GB">

<module href="src/fragments/head.html">
  <title>Hello Worm</title>
</module>

<body>
  <main class="container">
    <module href="src/fragments/introduction.html"></module>
    <module href="src/fragments/toolkit-use.html"></module>
    <module href="src/fragments/area-introduction.html"></module>
    <module href="src/fragments/area-breakdown.html"></module>
    <module href="src/fragments/concept-summary.html"></module>
    <module href="src/fragments/anticipate-introduction.html"></module>
    <module href="src/fragments/three-dimensions-of-sustainability.html"></module>
    <module href="src/fragments/understanding-three-dimensions-of-sustainability.html"></module>
    <module href="src/fragments/degree-of-sustainability-table.html"></module>
    <module href="src/fragments/actions.html"></module>
    <module href="src/fragments/economy-society-biosphere-diagram.html"></module>

  </main>
  <!--<module href="src/fragments/footer.html">
    <h2>Home page legal disclaimer</h2>
  </module>-->
  <script src="/js/main.js"></script>
</body>

</html>